    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        /* 自动高度的行，中间行为自适应填充 */
        grid-template-areas:
            "header"
            "main";
        gap: 10px;
        /* 行列之间的间隔 */
        height: 100vh;
        /* 让网格容器充满视口高度 */

        min-width: 1420px; 
        overflow-x: auto;
    }

    .grid-item {
        padding: 20px;
        /* background-color: rgba(179, 20, 20, 0.8); */
        /* border: 1px solid #e9dfdf; */
    }

    .header {
        grid-area: header;
        /* 指定此元素位于grid-template-areas中声明的header区域 */
    }

    .main {
        grid-area: main;
        display: grid;
        /* 添加Grid布局到.main */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 2fr 1fr 2fr;
        /* 创建三列，每列等宽 */
        gap: 0px;
        /* 列之间的间隙 */
        position: relative;
    }

    .overlay-image {
        width: 40rem;
        height: 40rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
        z-index: 9999; 
        object-fit: contain;
    }

    /* .main下面最后一个div */
    .main>div:last-child {

        position: absolute;
        /* background-color: white; */
        background-color: rgb(255,255,255);
        /* 向周围散布阴影 */
        /* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5); */
        /* 透明度 */
        filter: blur(2px); 
        width: 38rem;
        height: 38rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
        z-index: 2;
        border-radius: 50%;

    }

    .column {
        /* 新增样式，应用于每一列 */
        padding: 20px;
        /* background-color: rgba(200, 200, 200, 0.8); */
        /* 修改背景颜色以示区别 */
        /* border: 1px solid #ece7e7; */
        display: flex;
        flex-direction: column;
        /* 保持垂直排列 */
        justify-content: center;
        /* 垂直居中 */
        text-align: center;
        /* 文本居中对齐 */
        gap: 10px;
        /* 行间距离，根据需要调整 */
        white-space: nowrap;


    }

    .column-1 {
        /* background-color: lightblue; */
        grid-column: 1 / span 1;

    }
    /* 选中column-1 下面的div */
    .column-1>div {
        margin-bottom: 40px;
        height: 80px;
    }

    /* 选中column-1 最后的div */
    .column-1>div:last-child {
        margin-bottom: 0;
    }

    /* 取出column-1第一个p */
    .column-1>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(to right, 
                                    rgb(230, 238, 249) 0%, 
                                    rgb(230, 238, 249) 85%, 
                                    rgba(255, 255, 255, 0) 100%);
        border-radius: 10px;
        padding: 10px;

    }

    .column-1>div>p {
        font-size: small;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        white-space: wrap;
        margin-right: 20px;
    }

    .column-1>div>div>p {
        display: flex;
        align-items: center;
        /* justify-content: center; */

    }
    /* 获取.column-1>div>div 第一个p */
    .column-1>div>div>p:first-child {
        padding-top: 25px;
        box-sizing: border-box;
        
    }
    /* 获取.column-1>div>div 最后一个p */
    .column-1>div>div>p:last-child {
        padding-bottom:  10px;
        box-sizing: border-box;
        
    }

    .column-1>div>div>p>span {
        font-size: 48px;
        margin-left: 10px;
        color: red;
    }

    .column-2 {
        /* background-color: lightgreen; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-2>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        z-index: 10000;
        position: relative;
    }

    /* 选中 .column-2 > div 下面的前两个span*/
    .column-2>div>span:nth-child(1),
    .column-2>div>span:nth-child(2),
    .column-2>div>span:nth-child(3) {
        font-size: 2rem;
        color: #333;
        font-weight: bold;

    }

    .column-2>div>span:nth-child(2) {
        margin-bottom: 30px;
    }

    .column-2>div>span:nth-child(4) {
        font-size: 4rem;
        color: rgb(62, 100, 185);
        font-weight: bold;
    }

    /* 选中 .column-2 > div 最后一个span */
    .column-2>div>span:last-child {
        position: absolute;
        top: 360px;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 2rem;
        color: black;
        font-weight: bold;
    }

    .column-3 {
        /* background-color: rgb(214, 214, 145); */
    }
    /* 选中column-3 下面的div */
    .column-3>div {
        margin-bottom: 40px;
        height: 80px;
    }

    /* 选中column-3 最后的div */
    .column-3>div:last-child {
        margin-bottom: 0;
    }

    .column-3>div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(to left, 
                                    rgb(230, 238, 249) 0%, 
                                    rgb(230, 238, 249) 85%, 
                                    rgba(255, 255, 255, 0) 100%);
        border-radius: 10px;
        padding: 10px;

    }

    .column-3>div>p {
        font-size: small;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        white-space: wrap;
        margin-left: 20px;
        margin-right: 20px;
    }

    .column-3>div>div>p {
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    /* 获取.column-1>div>div 第一个p */
    .column-3>div>div>p:first-child {
        padding-top: 25px;
        box-sizing: border-box;
        
    }
    /* 获取.column-1>div>div 最后一个p */
    .column-3>div>div>p:last-child {
        padding-bottom:  10px;
        box-sizing: border-box;
        
    }
    .column-3>div>div>p>span {
        font-size: 48px;
        margin-right: 10px;
        color: green;
    }